 <div class="form-container ">
  <div class="registration ">
      <div class="row d-flex justify-content-center align-items-center">
        

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
          <%= f.error_notification %>
            <div class="name">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" }%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" }%>
            </div>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address" }%>
            <%= f.input :phone_number,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "phone_number" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

              <%= f.button :submit, "Sign up", class: "form-actions" %>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
