
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="ltitle"><%= @location.title %></h1>
      <h4><%= @location.user.first_name %> <%= @location.user.last_name%> </h4>
      <h3><%= @location.address %></h3>
      <% categories = @location.category.split(',') %>
      <% categories.each do |category| %>
      <%= category %>
      <% end %>

      <p>
        <%= link_to new_location_booking_path(@location) do %>
          <i class="fa-solid fa-receipt"> - Book Location</i>
        <% end %>
      </p>

      <p>
        <%= link_to location_bookings_path(@location) do %>
          <i class="fa-solid fa-border-all"> - My Bookings</i>
        <% end %>
      </p>

      <p>
        <%= link_to new_location_review_path(@location) do %>
          <i class="fa-solid fa-comment"> - New Review</i>
        <% end %>
      </p>

      <div class="reviewbox">
        <p><strong>Reviews</strong></p>
          <ul class="list-group">
            <% @location.reviews.each do |review| %>
              <li class="list-group-item"><%= review.comment %><% review.rating.to_i.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              </li>
                <% if current_user == review.user %>
                  <%= link_to "Delete",
                  review_path(review),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                 %>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>

        <div class= images>
          <% @location.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill,class:"imagespadding" %>
          <% end %>
        </div>

      <p><%= @location.description %></p>

      <p>
        <%= link_to locations_path() do %>
          <i class="fa-solid fa-map-location-dot"> - Back to locations</i>
        <% end %>
      </p>
  </div>

        <div class="col-4">
            <div style="width: 110%; height: 100%;"
              data-controller="map"
              data-map-markers-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
    </div>
  </div>
